@import "../../responsive.scss";

.card {
  display: flex;
  gap: 20px;
  background: linear-gradient(145deg, #f3f3f3, #ffffff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  .imageContainer {
    flex: 2;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;

    @include sm {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.3s ease;

      &:hover {
        color: #000;
        transform: scale(1.05);
      }
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #666;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: hsla(199, 100%, 58%, 0.7);
      width: max-content;
      // color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      @include sm {
        font-size: 16px;
        font-weight: 400;
        padding: 4px 8px;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .features {
        display: flex;
        gap: 20px;
        font-size: 14px;

        @include lg {
          gap: 10px;
        }

        .feature {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: hsla(199, 100%, 58%, 0.7);
          border-radius: 5px;
          padding: 5px;
          // color: #fff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          @include sm {
            font-size: 12px;
            font-weight: 400;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .icons {
        display: flex;
        gap: 16px;

        @include lg {
          gap: 16px;
        }

        .icon {
          border: 1px solid hsla(199, 100%, 58%);
          padding: 5px;
          cursor: pointer;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;

          @include lg {
            padding: 2px;
          }
          @include sm {
            padding: 4px;
          }

          &:hover {
            background-color: #29bbff;
            color: #fff;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
        .deleteIcon {
          color: #29bbff;
          border: 1px solid #29bbff;

          &:hover {
            background-color: rgb(255, 41, 41);
            color: #fff;
          }
        }
      }
    }
  }
}
