@import "../../responsive.scss";

.chat {
  max-height: 100vh;
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  @include sm {
    padding: 0 4px;
  }

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;

    @include lg {
      height: 300px;
      overflow-y: scroll;
    }
    @include md {
      max-height: 300px;
      overflow-y: scroll;
    }
    @include sm {
      max-height: 450px;
      overflow-y: scroll;
    }

    h1 {
      font-size: 20px;
      font-weight: 400;
    }
    .message {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .chatBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #2bbcff;
    max-height: 500px;

    @include lg {
      justify-content: space-between;
    }

    @include md {
      flex: none;
      height: max-content;
    }
    @include sm {
      flex: none;
      height: max-content;
    }

    .top {
      background-color: #2bbcff;
      padding: 20px;
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .close {
        cursor: pointer;
      }
    }
    .center {
      overflow-y: auto; // Use auto to show scroll bar only when needed
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%; // Ensure it takes available height in the container

      @include lg {
        height: 450px;
      }

      @include md {
        height: 350px;
      }
      @include sm {
        height: 350px;
      }

      .chatMessage {
        // background-color: #b2d7fc;
        border-radius: 10px;
        padding: 4px 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &.own {
          align-self: flex-end;
          background-color: #ffc68d;
          text-align: right;
          border-radius: 10px;
          padding: 3px;
        }

        span {
          font-size: 10px;
          background: hsla(31, 100%, 94%, 0.52);
          border-radius: 5px;
          padding: 2px;
          width: fit-content;
          align-self: end;
        }
      }
    }
    .bottom {
      border-top: 2px solid #2bbcff;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 20px;
      }

      button {
        flex: 1;
        height: 100%;
        background-color: #2bbcff;
        border: none;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
