@import "../../responsive.scss";
.searchBar {
  height: auto;

  .type {
    button {
      padding: 16px 32px;
      border: 1px solid #999;
      cursor: pointer;
      background: white;
      text-transform: capitalize;

      &.active {
        background: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }

      @include sm {
        padding: 5px 10px;
      }
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    // gap: 5px;

    @include sm {
      flex-direction: column;
    }
    input {
      padding: 0px 10px;
      width: 200px;
      height: 64px;
      flex: auto;

      @include lg {
        padding: 0px 10px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
          border-left: 1px solid #999;
        }
      }
      @include md {
        width: 200px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 160px;
        }
      }

      @include sm {
        height: 30px;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid black;
      }
    }

    a {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      background-color: #2bbcff;

      &:hover {
        background: #4b8bd0; /* Change logo color on hover to match icon color */
      }
      button {
        border: none;
        cursor: pointer;
        // background-color: #2bbcff;

        @include sm {
          padding: 10px;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
