@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  height: 100%;
  margin-top: 72px;

  display: flex;
  flex-direction: column;

  @include md {
    margin-top: 70px;
  }

  @include sm {
    margin-top: 68px;
  }

  .navbar {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.98);
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 100%;
  }
  .content {
    // padding: 20px 0;
    //one way of doing it is to use calc function
    // height: calc(100vh - 100px);
    // another way is to use flexbox
    // flex: 1;
    // height: calc(100vh - 100px);
    // background: #000;
  }
  .signInWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f7f7f7;
  }
}
