@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  @include md {
    padding: 0px 20px;
  }
  @include sm {
    padding: 0px 10px;
  }
  Link {
    transition: all 0.3s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.1;
      //   font-weight: bold;
    }
  }
  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 20px;

    .links {
      @include md {
        display: flex;
        gap: 10px;
      }
      @include sm {
        display: none;
      }

      a {
        text-decoration: none;
        color: #333;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: 500;
        position: relative;
        transition: background-color 0.3s ease, color 0.3s ease,
          box-shadow 0.3s ease;

        &:hover {
          background-color: #4b8bd0;
          color: white;
          box-shadow: 0 0 12px rgba(75, 139, 208, 0.7);
        }

        &:active {
          background-color: white;
          color: #4b8bd0;
          box-shadow: 0 0 12px rgba(75, 139, 208, 0.7);
        }

        &.active {
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 50%;
            height: 2px;
            background-color: #4b8bd0;
            transform: translateX(-50%);
          }

          color: #4b8bd0;
          background-color: white;
        }
      }
    }

    .logo {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 45px;
      }

      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
      &:hover {
        color: #4b8bd0; /* Change logo color on hover to match icon color */
      }
    }
  }
  .right {
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: #2bbcff;
    overflow: hidden;

    @include md {
      background-color: transparent;
    }

    @include sm {
      background-color: transparent;
    }
    a {
      padding: 12px 24px;
      // margin: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 20px;

      .userName {
        display: flex;
        align-items: center;
        gap: 8px;

        @include sm {
          margin-right: 20px;
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        object-fit: cover;
      }
      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #2bbcff;
        cursor: pointer;
        border: none;
        position: relative;

        @include md {
          display: block;
        }
        @include sm {
          display: none;
        }

        &:hover {
          background-color: #4b8bd0;
          color: white;
        }

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          padding: 2px 6px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
        span {
          font-weight: semibold;
        }
      }
    }
    .loginButtons {
      display: flex;
      .register {
        background: #0cffff;
      }
      @include sm {
        display: none;
      }
    }
    .menuIcon {
      display: none;
      z-index: 100;
      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }
      @include sm {
        display: initial;
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      transition: all 0.5s ease;

      &.active {
        right: 0;
      }
      @include sm {
        a {
          display: initial;
        }
      }
      @include md {
        display: none;
      }
    }
  }
}
